services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: user-backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/var/www/html
      - ./backend/database:/var/www/html/database 

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: user-frontend
    ports:
      - "5173:5173"
    environment:
      - VITE_API_URL=http://localhost:8000/api
    depends_on:
      - backend


